<div class="container">
    <div class="icons">
        <img class="image" src="../../../../assets/logoviacredi.png" />
        <span nz-icon nzType="align-center" nzTheme="outline"></span>
        <span nz-icon nzType="search" nzTheme="outline"></span>
        <span nz-icon nzType="star" nzTheme="outline"></span>
        <span nz-icon nzType="message" nzTheme="outline"></span>
        <span nz-icon nzType="pic-left" nzTheme="outline"></span>
        <span nz-icon nzType="bank" nzTheme="outline"></span>
    </div>
</div>