.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 4px;
}

.user-data{
    display: flex;
    align-items: center;
}

.user-data-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}